[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=Bentoo Hello
Exec=/usr/bin/Bentoo-hello
Icon=/usr/share/kinfocenter/logo.png
Comment=A tool providing access to documentation and support for new Bentoo users.
Comment[da]=En app med adgang til dokumentation og support for nye Bentoo brugere.
Comment[de]=Ein Tool für schnellen Zugriff auf Support und Dokumentation für neue Bentoo-Nutzer.
Comment[es]=Una herramienta que provee acceso a la documentación y soporte para nuevos usuarios de Bentoo.
Comment[fr]=Outil d'accès à la documentation et support aux nouveaux utilisateurs de Bentoo.
Comment[nl]=Een manier voor nieuwe Bentoo gebruikers om toegang tot documentatie en support te krijgen.
Comment[pl]=Narzędzie ułatwiające dostęp do dokumentacji i pomocy przeznaczone dla nowych użytkowników Bentoo.
Comment[pt_BR]=Uma ferramenta que fornece acesso à documentação e suporte para novos usuários Bentoo.
Comment[pt_PT]=Uma ferramenta que fornece acesso à documentação e suporte para novos usuários Bentoo.
Comment[ru]=Средство доступа к документации и поддержке для новых пользователей Bentoo.
Comment[it]=Strumento per accedere alla documentazione e supporto per nuovi utenti Bentoo.
Comment[tr]=Yeni Bentoo kullanıcıları için dökümantasyon ve destek sağlayan bir araç.
